html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  /* background: yellow;
  opacity: 50%; */
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%; 
  pointer-events: none; 
}

#map svg circle {
    fill: steelblue;
    fill-opacity: 60%;
    stroke: white;
    stroke-width: 1px;
    pointer-events: auto;
}

header#controls {
  display: flex;
  gap: 1em;
  align-items: center; /* keeps H1 aligned neatly */
  padding: 0 1em;
  width: 100%;
}

header#controls label {
  margin-left: auto;
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  font-size: 0.9rem;
}

#time-slider {
  width: 500px;
  cursor: pointer;
}

header#controls time,
header#controls em {
  display: block;
  margin-top: 4px;
}

header#controls em {
  color: gray;
  font-style: italic;
}

:root {
  --color-departures: steelblue;
  --color-arrivals: rgb(243, 191, 232);
}

#map svg circle,
.legend > div {
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  background-color: var(--color);
}


.legend {
  display: flex;
  gap: 4px;
  margin: 10px auto;
  width: 60%;
  justify-content: center;
}

.legend > div {
  flex: 1;
  padding: 8px 18px;
  color: white;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
}