html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;   
}


#map {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  fill: var(--color, steelblue); 
  fill-opacity: 0.8;
  stroke: white;
  stroke-width: 1px;
  pointer-events: auto;
}


header#controls {
  display: flex;
  gap: 1em;
  align-items: center; 
  padding: 0 1em;
  width: 100%;
}

header#controls label {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.9rem;
}

#time-slider {
  width: 500px;
  cursor: pointer;
}

header#controls time,
header#controls em {
  display: block;
  margin-top: 4px;
}

header#controls em {
  color: gray;
  font-style: italic;
}

:root {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
}

#map svg circle,
.legend > div {
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  background-color: var(--color);
}

.legend {
  display: flex;
  gap: 4px;
  margin: 10px auto;
  width: 60%;
  justify-content: center;
}

.legend > div {
  flex: 1;
  padding: 8px 18px;
  color: white;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
}